<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

<div th:replace="template :: nav"></div>

<h1>awards page</h1>

<h2 th:text="${comment}">comment</h2>

<!--podium background-->
<h3 th:text="${winner}">winner</h3>
<h4 th:text="${second}">2nd</h4>
<h5 th:text="${third}">3rd</h5>

<table style="border:1px solid black; border-collapse: collapse" width="10%">
    <tr style="border:1px solid black">
        <th>MVP</th>
        <th>Team</th>
        <th>Won battles last season</th>
        <th>Won battles entire career</th>
    </tr >
    <tr style="border:1px solid black">
        <th th:text="${mvp.getName()}"></th>
        <th th:text="${mvp.getTeam().getName()}"></th>
        <th th:text="${mvp.getWonBattlesPerSeason()}"></th>
        <th th:text="${mvp.getWonBattlesEntireCareer()}"></th>
    </tr>
</table>

<div th:replace="template :: table"></div>

<form method="post" action="#" th:action="@{/game/awards}">
    <button type="submit">START NEXT SEASON</button>
</form>

<div th:replace="template :: footer"></div>

</body>
</html>