<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>intro</title>
</head>
<body>

<h1>awards page</h1>

<h2 th:text="${comment}">comment</h2>

<!--on podium background-->
<h3 th:text="${winner}">winner</h3>
<h4 th:text="${second}">2nd</h4>
<h5 th:text="${third}">3rd</h5>


<table style="border:1px solid black; border-collapse: collapse" width="10%">
    <tr style="border:1px solid black">
        <th>Team</th>
        <th>Wins</th>
        <th>+-</th>
    </tr>
    <tr th:each="team : ${teams}" style="border:1px solid black">
        <th th:text="${team.getName()}">team</th>
        <th th:text="${team.getWins()}">wins</th>
        <th th:text="${team.getPlusMinus()}">plus minus</th>
    </tr>
</table>

<form method="post" action="#" th:action="@{/game/awards}">
    <button type="submit">START NEXT SEASON</button>
</form>

</body>
</html>