<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

    <h1>home page</h1>

    <div th:if="${isSessionExpired} == true">
        <a href="/create">create new account</a>
    </div>

    <div th:unless="${isSessionExpired} == true">
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <a href="/game">login to your account</a>

    <div th:replace="template :: footer"></div>

</body>
</html>