<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gameDay</title>

    <!--<script type="text/javascript">-->
        <!--window.onbeforeunload = function() {-->
            <!--return "Dude, are you sure you want to leave?!";-->
        <!--}-->
    <!--// </script>-->

    <script th:inline="javascript">
        function showBattle(bbx, batx) {
            document.getElementById(bbx).innerHTML = document.getElementById(batx).innerText;
        }

        function showSum(bsx,sumx) {
            document.getElementById(bsx).innerHTML = document.getElementById(sumx).innerText;
        }
    </script>

</head>
<body>

<h1>matches page</h1>

<th:block th:each="game, iterator : ${nextRoundMatches}">
    <tr th:with="c = city+${iterator.index}, h = hall+${iterator.index}
                ,t1 = teamHome+${iterator.index}, t2 = teamAway+${iterator.index}, c1 = coachHome+${iterator.index}, c2 = coachAway+${iterator.index}">
        <td>City:</td>
        <td th:text="${__${c}__}">city</td>
        <br>
        <td>Hall:</td>
        <td th:text="${__${h}__}">hall</td>
        <br>
        <td>Match:</td>
        <td th:text="${__${t1}__}">teamHome</td>
        <td> vs </td>
        <td th:text="${__${t2}__}">teamAway</td>
        <br>
        <td>Coaches:</td>
        <td th:text="${__${c1}__}">coachHome</td>
        <td> vs </td>
        <td th:text="${__${c2}__}">coachAway</td>

    </tr>
    <th:block th:each="pvp: ${#numbers.sequence(1, 5)}" th:value="${pvp}">

        <div th:with="b = battle + ${pvp} + ${iterator.index},s = summary + ${pvp} + ${iterator.index}
                 ,showBattle = (${iterator.index}+1) * 10 + ${pvp}
                 ,showSummary = ((${iterator.index}+1) * 10 + ${pvp}) * (${iterator.size}+1)
                 ,hiddenBattle = ((${iterator.index}+1) * 10 + ${pvp}) * (${T(Math).pow((iterator.size+1),2)})
                 ,hiddenSummary = ((${iterator.index}+1) * 10 + ${pvp}) * (${T(Math).pow((iterator.size+1),3)})">

            <p th:id="${showBattle}" th:text="${__${b}__}" hidden>battle</p>
            <p th:id="${showSummary}" th:text="${__${s}__}" hidden>summary</p>

            <button th:id="${hiddenBattle}"  th:onclick="'javascript:showBattle(\''+${hiddenBattle}+'\',\''+${showBattle}+'\');'">show battle</button>
            <button th:id="${hiddenSummary}" th:onclick="'javascript:showBattle(\''+${hiddenSummary}+'\',\''+${showSummary}+'\');'">show summary</button>

        </div>
    </th:block>
</th:block>

<form method="post" action="#" th:action="@{/game/matches}">
    <button type="submit">NEXT</button>
</form>


</body>
</html>

