<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>intro</title>
</head>
<body>

<h1>table page</h1>

<table style="border:1px solid black; border-collapse: collapse" width="30%">
    <!--<thead>-->
    <tr style="border:1px solid black">
        <th>Team</th>
        <th>Wins</th>
        <th>+-</th>
    </tr>
    <!--</thead>-->
    <!--<tbody>-->
    <tr th:each="team : ${teams}" style="border:1px solid black">
        <th th:text="${team.getName()}">team</th>
        <th th:text="${team.getWins()}">wins</th>
        <th th:text="${team.getPlusMinus()}">plus minus</th>
    </tr>
    <!--</tbody>-->
    <!--<tfoot>-->
    <!--</tfoot>-->
</table>



</body>
</html>