<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

    <h1>Top10</h1>

    <div class="noRecords" th:if="${#lists.isEmpty(top10data)}">
        <h2>The list has no records. Be the first ring owner</h2>
    </div>

    <div class="records" th:unless="${#lists.isEmpty(top10data)}">

        <table>
            <tr>
                <th>User</th>
                <th>Rings</th>
            </tr>

            <tr th:each="record : ${top10}">
                <th th:text="${record[0]}"></th>
                <th th:text="${record[1]}"></th>
            </tr>

        </table>
    </div>

    <button class="btnBackToTeam"><a href="/game/team">BACK</a></button>

    <div th:replace="template :: footer"></div>
</body>
</html>