teams.<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>intro</title>
</head>
<body>

<h1>intro page</h1>

<!--<form method="post" action="#" th:action="@{/create}" th:object="${owner}">-->
<!--<label>username</label>-->
<!--<input type="text" name="username" th:field="*{username}">-->
<!--<label>password</label>-->
<!--<input type="password" name="password" th:field="*{password}">-->
<!--<label>email</label>-->
<!--<input type="email" name="email" th:field="*{email}">-->
<!--<input type="submit" value="login">-->
<!--</form>-->

</body>
</html>